<p id="notice"><%= notice %></p>

<div class="card">
<h1>
  <strong>Name:</strong>
  <%= @guest.name %>
</h1>

<p>
  <strong>Address:</strong>
  <%= @guest.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @guest.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guest.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @guest.comment %>
</p>

<button><%= link_to 'Edit', edit_guest_path(@guest) %></button>
</div>
<!--
<%= link_to 'Back', guests_path %>
-->