<% @houses.each do |house| %>
  
    <div class="photo, col-3 card-small"  >
    <%=  image_tag house.photo, class:"photo" %>
    <h4><i class="fas fa-home"></i><%=  house.address%></h4>
    <h3><%=  house.price%></h3> 
    <div class="infos"> </div>
    <span><%=  house.bedrooms%><i class="fas fa-bed"></i></span>
    <span><%=  house.size%></span>
    <span><%=  house.bathrooms%><i class="fas fa-bath"></i></span>
    <span><%=  house.typehouses%></span>
    <hr class="featurette-divider">
    <p><a class="btn btn-secondary"<%= link_to houses_path, class:"nav-link"  do %>View details »</a></p>
    </div>
    
    <%end%>
  
    <%end%>

    

    