<% @houses.each do |house| %>
    <div class="photo, col-3"  >
    <%=  image_tag house.photo, class:"photo" %>
    <h2><%=  house.address%></h2>
    <h2><%=  house.price%></h2> 
    
    <h2>Heading</h2>
    <div class="infos"> </div>
    <span> <i data-feather="home"></i>
    <span><%=  house.bedrooms%></span>
    <span><%=  house.size%></span>
    <span><%=  house.bathrooms%></span>
    <span><%=  house.typehouses%></span>
    <hr class="featurette-divider">
    <p><a class="btn btn-secondary"<%= link_to houses_path, class:"nav-link"  do %>View details »</a></p>
    </div>
    <%end%>
  
    <%end%>

    

    