
<p id="notice"><%= notice %></p>

<div class="card">
<%=  image_tag @house.photo, class:"full-image" %>

<h3>
  <strong>Address:</strong>
  <%= @house.address %>
</h3>

<p class="price">
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @house.size %>
</p>

<p>
  <strong>Type:</strong>
  <%= @house.typehouses %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @house.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @house.bathrooms %>
</p>

<p>
  <strong>parking_spaces:</strong>
  <%= @house.parking_spaces %>
</p>


<p>
  <strong>Comment:</strong>
  <%= @house.comment %>
</p>








<button><%= link_to 'Edit', edit_house_path(@house) %></<button>

<!--
<div>
 <button><%= link_to 'Back', houses_path %></button>
</div>
-->
</div>